
<div class="span-12 snapx-12 account-left">
<div class="pic">
  <h2>BeeSaving helps you save bees by notifying you of bees in your area</h2>
  <img src="/images/login-screen-bee.png" id="login_bees"/>
</div>
<div class="signup">
Need to <a href="/account/new">sign up for an account?</a>
</div>

</div>
<div class="span-12 account last">
  <div class="inside">
<h1>Log in with Facebook</h1>

<div class="fb_connect_button">
  <%= fb_connect_button %>
</div>

<hr />
or...

<h4>Sign in</h4>
<%= render :partial => "user_sessions/form" %>
  </div>
<%= render :partial => "shared/facebook_js" %>
</div>

<%= render :partial => "shared/dim" %>
